<div [colspan]="12" class="heading my-4">
  <h3 class="mx-4">Dashboard</h3>
  <app-filter *ngIf="teams" [teams]="teams" (onChose)="trackTeam($event)"></app-filter>
</div>
<div [colspan]="12" class="heading my-4 mx-4" *ngIf="trackedTeams && trackedTeams.length">
  <div [colspan]="2" class="me-2">
    <label for="trackingDays" [colspan]="12">Days:</label>
    <select [colspan]="12" wgt-select id="trackingDays" [(ngModel)]="trackingDays" (change)="trackingDaysChange()" [empyElement]="false">
      <option *ngFor="let days of trackingDaysList" value="{{days}}" >
        <span>{{days}}</span>
      </option>
    </select>
  </div>
</div>

<div [colspan]="12" class="content my-4 mx-4 d-flex flex-row flex-wrap">
  <app-team-card class="mx-4 my-2" *ngFor="let team of trackedTeams" [team]="team" (emitter)="removeCard($event)" [pastDays]="trackingDays"></app-team-card>
</div>
